.App {
  text-align: center;
  background-image: "url(/img/negative.jpg)";
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-buttons {
  min-width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-button {
  min-width: 30%;
  font-family: monospace;
  color: #111;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 12px;
  border: 1px solid rgba(96, 96, 96, 1);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
}

.App-button:hover {
  background-color: #ebeaea;
  cursor: pointer;
}

.App-button:first-child {
  margin-right: 12px;
  border-right: 1px solid rgba(96, 96, 96, 1);
}

.App-learn-score {
  font-size: 10rem;
  font-weight: 700;
  margin-bottom: 32px;
}
